.container {
    margin: 20px;
}

.content {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #1976D2;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.animated-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    /* Adjust the height as needed */
    width: 100px;
    /* Adjust the width as needed */
    background: url('https://www.elearningnews.it/_resources/images/20181120_170921_blobid43.gif') center center no-repeat;
    background-size: cover;
    /* Ensure the image covers the entire container */
    animation: slideIn 1s ease-in-out;
    /* Adjust the animation duration as needed */
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.mat-mdc-chip-set {
    max-width: 200px;
  }
  